.logo {
  width: 200px;
  float: right;
<<<<<<< Updated upstream
  margin-left: 40px;
  margin-top: auto;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  height: auto;

>>>>>>> origin/master
}

.sb-search {
  margin-top: 40px;
}

.sharp {

  border-radius:0 !IMPORTANT;
}

.btn {
  color: #0088cc;
}

.form-control {
  background-color: #428bca;
}
