.logo {
  width: 200px;
  float: right;
  margin-left: 40px;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
  height: auto;

>>>>>>> origin/master
}
.sb-search {
  margin-top: 40px;
}
