.logo {
    width: 200px;
    float: right;
    margin-left: 40px;
    margin-top: auto;
    height: auto;
}

.sb-search {
    margin-top: 40px;
}

.sharp {
    border-radius: 0 !important;
}

.btn {
    color: #0088cc;
}

.form-control {
    background-color: #428bca;
}

#weatherinformation {
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
